<%- include("header") -%>

<h2>This is the about page</h2>

<p>"Our To-Do List Manager is a simple yet powerful tool designed to help you stay organized and focused. With our intuitive interface, you can effortlessly add tasks, mark them as completed, or remove them when they're done. Whether you're managing work projects, personal chores, or daily goals, our manager ensures you never miss a beat. Stay on top of your tasks with ease, and keep track of your progress. Plus, our filter options make it convenient to view completed and pending tasks separately. Simplify your life and boost your productivity with our To-Do List Manager – your ultimate companion for effective task management."</p>

<%- include("footer") -%>
